<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KayitOl_VeriTaban_Tekrari.Properties.Settings.VS_Personel_Kayit2ConnectionString"
            connectionString="Data Source=DESKTOP-F10UNK6\SQLEXPRESS;Initial Catalog=VS_Personel_Kayit2;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>